.Hcontainer {
  margin-top: 5%;
  display: flex; /* 수평 나열의 핵심 */
  justify-content: center;
  gap: 10%;    /* 박스 사이의 간격 */
}

.Hbox {
  width: 20%;
  height: 120px;
  background-color: Black; /* 박스 배경은 유지 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 글자가 박스 밖으로 나가는 것을 방지 */
}

.HUnderBox {
  width: 20%;
  height: 200px;
  background-color: Black; /* 박스 배경은 유지 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 글자가 박스 밖으로 나가는 것을 방지 */
}

.BGText {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.HTextFont {
  display: block;
  text-decoration: none; /* 밑줄 제거 */
  color: white; /* 글자 색상 */
  font-weight: bold;
  font-size: 25px;
  display: flex;
  text-align: center;
}
